@media screen and (min-width: 993px) {
    .header {
        &__nav {
            &-menu {
                display: none;
            }
        }
    }
    .container {
        max-width: 90%;
    }
    .aboutFork {
        &__content {
            &-item {
                max-width: 30%;
            }
        }
        &__foot {
            font-size: 0.8rem;
            width: 50rem;
        }
    }
    hr {
        width: 95%;
    }
}