@media screen and (min-width: 992px) {
    .header {
        &__nav {
            padding: 1.5rem 5rem;
            &-menu {
                display: none !important;
            }
        }
    }
    .container {
        max-width: 1200px;
    }

    .feature{
        padding:3rem 0;
        .feature__header--desktop{
            display: none;
        }
        .feature__icons-container{
            flex-direction: row;
            text-align: left;
            justify-content: flex-start;
        }
        .feature__text{
            max-width: 63%;
        }

    }

    .aboutFork {
        &__content {
            &-item {
                max-width: 30%;
            }
        }
        &__foot {
            font-size: 0.8rem;
            width: 50rem;
        }
    }

    .pricing{
        .pricing__header{
            margin-top: 5rem;
            margin-bottom: 7.625rem;
            font-size: 3rem;
        }
    }
    hr {
        width: 95%;
    }
}