.header {
    display: flex;
    flex-direction: column;
    position: relative;
    &__nav {
        display: flex;
        background-color: #27262a;
        flex-direction: column;
        padding: 1.5rem 1rem;
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-menu {
                display: flex;
                &-links {
                    display: flex;
                    align-items: center;
                    color: #8d81ac;
                    a {
                        color: #8d81ac;
                        margin-right: 3rem;
                        text-decoration: none;
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
        &-menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding-bottom: 1rem;
            background-color: #333333;
            line-height: 3rem;
            font-size: 1.5rem;
            font-weight: 600;
            top: 5.5rem;
            width: 18rem;
            color: white;
            left: calc(100% / 2 - 9rem);
            li {
                border-bottom: 1px solid #3b3b3b;
                padding: 1.3rem;
            }
        }
        &-logo {
            display: flex;
            align-items: center;
            text-decoration: none !important;
            &-name {
                color: #8d81ac;
                font-size: 1.5rem;
                margin-left: 1rem;
            }
            &-img {
                background: url(../img/logo.png);
                width: 2.6rem;
                height: 2.5rem;
            }
            &:hover &-name {
                color: white;
            }
            &:hover &-img {
                background: url(../img/logo-hover.png);
            }
        }
        &-button {
            width: 8rem;
            background: #8d81ac;
            color: #fff;
            text-align: center;
            line-height: 2.1rem;
            border-radius: 2rem;
            font-size: 1rem;
            font-family: 'montserrat', sans-serif;
            height: 2.1rem;
            font-weight: 600;
            border: none;
            &:hover {
                background-color: white;
                color: #8d81ac;
            }
        }
        &-burger {
            width: 1.6rem;
            height: 1.2rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &-firstLine {
                width: 1.1rem;
                height: 0.2rem;
                border-radius: 10rem;
                background-color: #fff;
                align-self: flex-end;
            }
            &-line {
                width: 1.6rem;
                height: 0.2rem;
                border-radius: 10rem;
                background-color: #fff;
            }
        }
    }
    &__content {
        background: url(../img/header-bg.png);
        display: flex;
        justify-content: center;
        background-position: center -6rem;
        &-text {
            font-family: 'montserrat', sans-serif;
            text-align: center;
            width: 17rem;
            text-align: center;
            line-height: 2;
            &-title {
                color: white;
                font-size: 3.1rem;
                margin-top: 1rem;
                font-weight: 700;
            }
            &-subtitle {
                font-size: 1.15rem;
                color: #7a7096;
            }
            &-small {
                font-size: 1.07rem;
                color: #6a727a;
                margin-bottom: 26.5rem;
            }
        }
    }
    &__download {
        display: flex;
        position: absolute;
        font-family: 'montserrat', sans-serif;
        bottom: -3.3rem;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &-button {
            background-color: #8d81ac;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 700;
            border-radius: 2rem;
            margin-bottom: 1rem;
            border: none;
            padding: 0.8rem 2rem;
            &:hover {
                background-color: white;
                color: #8d81ac;
            }
        }
        &-description {
            color: #a5acb3;
            font-size: 0.9rem;
        }
    }
}