.header {
    display: flex;
    flex-direction: column;

    &__nav {
        display: flex;
        background-color: #27262a;
        justify-content: space-between;
        align-items: center;
        padding: 30px 15px;

        &-button {
            width: 119px;
            background: #8d81ac;
            color: #fff;
            text-align: center;
            line-height: 34px;
            border-radius: 50px;
            font-size: 14pt;
            font-family: 'Montserrat', sans-serif;
            height: 35px;
            font-weight: 600;
        }

        &-burger {
            width: 26px;
            height: 21px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            &-firstLine {
                width: 20px;
                height: 3px;
                border-radius: 100px;
                background-color: #fff;
                align-self: flex-end;
            }

            &-line {
                width: 26px;
                height: 3px;
                border-radius: 50px;
                background-color: #fff;
            }
        }
    }
}