@import "reset";
@import "fonts";

/** if you have separate file for variables and mixins, or fonts - import it here **/

body {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}

@import "header";
@import "rev-editor";
@import "about-fork";

/** MEDIA **/

@import "media/all-media";